@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.curry {
  background-image: url("/curry.jpg");
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
}

.team {
  background-image: url("/team.png");
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cavs {
  background-image: url("/cavs.png");
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-color {
  background: linear-gradient(135deg, #1A1A2E 0%, #16213E 50%, #0F3460 100%);
}

.navbar-color { 
  background-color: #0F172A;
  color: white;
} 

.navbar-item {
  @apply flex flex-col items-center justify-center 
}

